@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 4% 95%;
    --foreground: 40 5% 12%;
    --card: 0 2% 92%;
    --card-foreground: 40 5% 12%;
    --popover: 0 2% 92%;
    --popover-foreground: 40 5% 12%;
    --primary: 36 55% 46%;
    --primary-foreground: 0 22% 96%;
    --secondary: 0 7% 91%;
    --secondary-foreground: 40 5% 12%;
    --muted: 0 7% 91%;
    --muted-foreground: 0 2% 48%;
    --accent: 33 100% 95%;
    --accent-foreground: 36 55% 46%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 1% 82%;
    --input: 0 1% 82%;
    --ring: 36 55% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 6% 10%;
    --foreground: 0 22% 96%;
    --card: 30 9% 14%;
    --card-foreground: 0 22% 96%;
    --popover: 30 9% 14%;
    --popover-foreground: 0 22% 96%;
    --primary: 35 67% 64%;
    --primary-foreground: 40 5% 12%;
    --secondary: 0 2% 26%;
    --secondary-foreground: 0 22% 96%;
    --muted: 0 2% 26%;
    --muted-foreground: 0 3% 72%;
    --accent: 35 63% 14%;
    --accent-foreground: 34 100% 87%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 3% 23%;
    --input: 20 3% 23%;
    --ring: 35 67% 64%;
  }
}
